body {
    background-color: darkslategrey;
    color: white;
}

.title {
    color: chartreuse;
    text-align: center;
    margin-top: 0.5em;
}


button {
    width: calc(1.5rem + 2vw); 
    height: calc(1.5rem + 2vw);
    font-size: calc(1rem + 1vw);;
    font-weight: bold;
    background-color: green;
    color: white;
}



.a {
    margin-top: 1em;
}


.b {
    display: flex;
    flex-wrap: nowrap;
    color: white;
    justify-content: center;
}



#turn1{
    color: black;
    text-align: center;
    margin-top: 1em;
    font-size: calc(1rem + 2vw);;
}




#turn2{
    text-align: center;
    font-size: calc(1rem + 2vw);;
}



#turn3{
    color: rgb(233, 236, 11);
    text-align: center;
    margin-top: 2em;
    font-size: calc(1rem + 1.5vw);;

}





